@tailwind base;

/* auto complete styles */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #253341;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #253341 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
} */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(38 38 38);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #111111;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(38 38 38);
  border-radius: 15px;
}

@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #111111;
    color: white;
  }
  * {
    /* @apply border border-red-500; */
  }
}
@layer components {
  .pageHeight {
    min-height: calc(100vh - 24px);
  }
  .chatBoxHeight {
    max-height: calc(100% - 160px);
  }
  .center {
    @apply flex justify-center items-center;
  }
  .button {
    @apply bg-neutral-800 text-white py-2.5 px-5 rounded hover:bg-neutral-700 transition-all duration-200 ease-in-out;
  }
  .bordered {
    border: 1.5px solid #424242;
  }
  .chatBox-height {
    max-height: calc(100vh - 20px);
  }
}
